*{
  margin:0;
  padding: 0;
}
.main{
  &__itemList{
    list-style: none;

  }
  &__div{
    background-color: $colorBackgroundDiv;
    margin: 10px;
    height: 450px;
    box-sizing: border-box;
  }
  &__title-list{
    color:$colorTitleList;
    padding: 10px;
  }
  &__image{
    margin: 10px;
  }
}

.change{
  background-color: $colorBackgroundChange;
  border:2px solid $colorBorderDiv;
}
