$colorVerySoftPink:#e8b3ce;
$colorVividMagenta:#ED1EC4;
$colorSoftCyan:#55E6F0;
$colorDarkGrayishRed:#989292;
$colorDarkPink:#800040;
$colorBlack:#000000;
$colorVeryDarkMagenta:#9a009a;
$colorBackgroundDiv:$colorVerySoftPink;
$colorTitleList:$colorDarkPink;
$colorBackgroundChange:$colorSoftCyan;
$colorBottomInputSearch:$colorDarkGrayishRed;
$colorButtonSearch:$colorDarkPink;
$colorTextPlaceholderImput:$colorBlack;
$colorBorderDiv:$colorVeryDarkMagenta;
