$colorLightGrayishMagenta:#EEAFE1;
$colorVividMagenta:#ED1EC4;
$colorSoftCyan:#55E6F0;
$colorDarkGrayishRed:#989292;
$colorDarkPink:#800040;
$colorBlack:#000000;
$colorBackgroundDiv:$colorLightGrayishMagenta;
$colorTitleList:$colorDarkPink;
$colorBackgroundChange:$colorSoftCyan;
$colorBottomInputSearch:$colorDarkGrayishRed;
$colorButtonSearch:$colorDarkPink;
$colorTextPlaceholderImput:$colorBlack;
