.main{
  &__list-Search{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

  }
  &__div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


}
