.main{
  &__itemList{
  list-style: none;

  }
  &__div{
  background-color: #EEAFE1;
  margin: 10px;

  }
  &__title-list{
      color:#ED1EC4;
      padding: 10px;
  }
  &__image{
    margin: 10px;
  }
}

.change{
  background-color: #55E6F0;
  border-radius: 10px;
  color:#85929E;
}
